services:
  tracearr:
    image: ghcr.io/connorgallopo/tracearr:supervised-next
    ports:
      - ${PORT:-3000}:3000
    environment:
      - TZ=${TZ:-UTC}
      - LOG_LEVEL=${LOG_LEVEL:-info}
    networks:
      cn1: null
    volumes:
      - tracearr_postgres:/data/postgres
      - tracearr_redis:/data/redis
      - tracearr_data:/data/tracearr
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://127.0.0.1:3000/health
      interval: 30s
      timeout: 10s
      start_period: 60s
      retries: 3
    labels:
      - traefik.enable=true
      - traefik.http.routers.tracearr-rtr.tls=true
      - traefik.http.routers.tracearr-rtr.rule=Host(`${HOSTNAME}`)
      - traefik.http.routers.tracearr-rtr.entrypoints=https
      - traefik.http.services.tracearr-svc.loadbalancer.server.port=3000
volumes:
  tracearr_postgres: null
  tracearr_redis: null
  tracearr_data: null
networks:
  cn1:
    external: true
