# Nexus Environment Variables

# Base path for persistent application data
APPDATA_PATH=/home/kyle/appdata

# Traefik hostnames
HOSTNAME_NEXUS=nexus.example.com
HOSTNAME_NEXUS_REGISTRY=registry.example.com
