APPDATA_PATH=/home/kyle/appdata
TZ=America/Chicago

# VPN provider configuration
VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key
WIREGUARD_ADDRESSES=10.x.x.x/32
SERVER_CITIES=Chicago
