services:
  glances:
    image: nicolargo/glances:latest-full
    environment:
      - TZ=${TZ}
      - GLANCES_OPT=-w
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/os-release:/etc/os-release:ro
    pid: host
    network_mode: host
    restart: unless-stopped
networks: {}